Repository stuartshay/azure-policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: powershell-format, docs-folder-enforcement, azure-policy-validation, bicep-validation

powershell-format:
  name: PowerShell Formatter
  entry: bash
  args:
  - -c
  ...

docs-folder-enforcement:
  name: Enforce Documentation Structure
  entry: bash
  args:
  - -c
  ...

azure-policy-validation:
  name: Azure Policy JSON Validation
  entry: bash
  args:
  - -c
  - for file in "$@"; do if ! jq empty "$file" 2>/dev/null; then echo "Invalid JSON in $file"; exit 1; fi; done
  - --
  language: system
  pass_filenames: true

bicep-validation:
  name: Bicep Template Validation
  entry: bash
  args:
  - -c
  - if command -v az >/dev/null 2>&1; then for file in "$@"; do az bicep build --file "$file" --stdout >/dev/null || exit 1; done; else echo "Azure CLI not available, skipping Bicep validation"; fi
  - --
  language: system
  pass_filenames: true

Update Basic
  functions/infrastructure/requirements-test.txt
Due: none

Fix test_get_servicebus_client test by creating manager instance within environment context
  functions/infrastructure/tests/test_secret_rotation.py
Due: none

Update
  .github/dependabot.yml
Due: none

feat: Add comprehensive code quality improvements and pre-commit configuration
  .flake8
  .isort.cfg
  .pre-commit-config.yaml
  .pylintrc
  .vscode/settings.json
  functions/advanced/function_app.py
  functions/basic/function_app.py
  functions/basic/host.json
  functions/basic/local.settings.json.template
  functions/basic/tests/test_function_app.py
  functions/common/README.md
  functions/common/__init__.py
  functions/common/decorators.py
  functions/common/logging_config.py
  functions/common/telemetry.py
  functions/infrastructure/function_app.py
  mypy.ini
  notebooks/environment_validation.ipynb
  pyproject.toml
  pyrightconfig.json
  requirements/base.txt
  requirements/functions.txt
  run-tests.py
  tests/conftest.py
Due: docs-folder-enforcement

feat: Consolidate pyright configurations and enhance install.sh
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  install.sh
  mypy.ini
  pyproject.toml
  pyrightconfig-precommit.json
  pyrightconfig.json
Due: docs-folder-enforcement

fix: Resolve pre-commit hook failures for type checking and linting
  .pre-commit-config.yaml
  functions/__init__.py
  functions/advanced/__init__.py
  functions/advanced/tests/test_advanced_function_app.py
  functions/basic/__init__.py
  functions/common/logging_config.py
  functions/common/telemetry.py
  functions/infrastructure/__init__.py
  functions/infrastructure/tests/test_secret_rotation.py
  pyrightconfig.json
Due: none

Fix flake8, mypy, and import issues; update test and core files for compliance; ignore E402 in test_advanced_function_app.py
  .github/chatmodes/Extensive Mode.chatmode.md
  .github/chatmodes/Plan.chatmode.md
  .pre-commit-config.yaml
  .vscode/settings.json
  functions/__init__.py
  functions/advanced/tests/test_advanced_function_app.py
  functions/basic/function_app.py
  functions/common/__init__.py
  functions/common/decorators.py
  functions/common/telemetry.py
  functions/infrastructure/tests/test_secret_rotation.py
  tests/conftest.py
  tests/integration/test_azure_cli_integration.py
  tests/policies/test_policy_fragments.py
  tests/policies/test_policy_validation.py
Due: docs-folder-enforcement

Update Settings.json
  .vscode/settings.json
Due: none

Fix: Move memory.instruction.md to docs/ for pre-commit compliance
  docs/TESTS_FINAL_STATE.md
  docs/memory.instruction.md
  functions/__init__.py
  functions/advanced/.vscode/settings.json
  functions/advanced/tests/test_advanced_function_app.py
  functions/basic/.vscode/settings.json
  functions/basic/tests/test_function_app.py
  functions/infrastructure/.vscode/settings.json
  functions/infrastructure/tests/__init__.py
  tests/conftest.py
Due: docs-folder-enforcement

Allow .md files in .github/instructions/ for docs enforcement (pre-commit & CI)
  .github/instructions/memory.instruction.md
  .github/workflows/docs-structure-check.yml
  .pre-commit-config.yaml
Due: docs-folder-enforcement

Update
  functions/__init__.py
  functions/advanced/function_app.py
Due: none

Update
  .github/instructions/memory.instruction.md
  README.md
Due: docs-folder-enforcement

Add comprehensive Azure Functions Overview section to README
  README.md
Due: docs-folder-enforcement

docs: Update terraform documentation for monitoring infrastructure
  .checkov.yaml
  Makefile
  infrastructure/monitoring/.terraform.lock.hcl
  infrastructure/monitoring/Makefile
  infrastructure/monitoring/README.md
  infrastructure/monitoring/main.tf
  infrastructure/monitoring/outputs.tf
  infrastructure/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/.terraform.lock.hcl
  infrastructure/terraform/modules/monitoring/README.md
  infrastructure/terraform/modules/monitoring/alerts.tf
  infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Due: docs-folder-enforcement

docs: Update terraform documentation after fixes
  infrastructure/monitoring/README.md
  infrastructure/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/alerts.tf
  infrastructure/terraform/modules/monitoring/main.tf
Due: docs-folder-enforcement

docs: Update terraform documentation after workbook UUID change
  infrastructure/monitoring/README.md
  infrastructure/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Due: docs-folder-enforcement

fix: Update activity log alerts to use global location
  infrastructure/monitoring/README.md
  infrastructure/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/alerts.tf
  infrastructure/terraform/modules/monitoring/main.tf
Due: docs-folder-enforcement

docs: Update terraform documentation after successful deployment
  infrastructure/monitoring/README.md
  infrastructure/monitoring/main.tf
Due: docs-folder-enforcement

fix: replace deprecated metric block with enabled_metric in monitoring diagnostic settings
  infrastructure/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Due: none

Update
  .github/instructions/memory.instruction.md
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-validate.yml
  infrastructure/monitoring/README.md
  infrastructure/monitoring/terraform.tfvars.example
  infrastructure/terraform/modules/monitoring/.terraform.lock.hcl
  infrastructure/terraform/modules/monitoring/README.md
  infrastructure/terraform/modules/monitoring/main.tf
Due: docs-folder-enforcement

Update infrastructure/terraform/modules/monitoring/alerts.tf
  infrastructure/terraform/modules/monitoring/alerts.tf
Due: none

Update infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Due: none

Update infrastructure/monitoring/main.tf
  infrastructure/monitoring/main.tf
Due: none

Update
  .pre-commit-config.yaml
  .tflint.hcl
  infrastructure/monitoring/README.md
  infrastructure/terraform/modules/monitoring/README.md
  infrastructure/terraform/modules/monitoring/alerts.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Due: docs-folder-enforcement

fix: Resolve test failures, type checking, and terraform validation issues
  functions/advanced/tests/test_advanced_function_app.py
  functions/basic/function_app.py
  functions/basic/test_mocks.py
  functions/basic/tests/test_function_app.py
  functions/infrastructure/tests/test_secret_rotation.py
  infrastructure/app-service/README.md
  infrastructure/app-service/main.tf
  infrastructure/app-service/outputs.tf
  infrastructure/functions-app/main.tf
  infrastructure/monitoring/.terraform.lock.hcl
  infrastructure/monitoring/README.md
  infrastructure/monitoring/main.tf
  infrastructure/monitoring/variables.tf
Due: docs-folder-enforcement

fix: Add Terraform Cloud authentication to pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

fix: implement Terraform Cloud authentication for pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

feat: Add GitHub secrets verification script
  scripts/check-github-secrets.sh
Due: none

feat: Add Terraform Cloud variable setup script
  scripts/setup-terraform-cloud-variables.sh
Due: none

fix: resolve pre-commit issues for pyright, checkov, and tflint
  .checkov.yaml
  functions/infrastructure/tests/test_secret_rotation.py
  infrastructure/terraform/modules/policies/main.tf
  infrastructure/terraform/modules/policies/rg-naming-policy.json
  infrastructure/terraform/modules/policies/storage-naming-policy.json
  pyrightconfig.json
Due: azure-policy-validation

feat: Configure Dependabot for Terraform Cloud private modules
  .github/dependabot.yml
  docs/DEPENDABOT_TERRAFORM_CLOUD_SETUP.md
Due: docs-folder-enforcement

test: update dependabot config to test PR creation
  .github/dependabot.yml
Due: none

fix: add newline at end of dependabot-test.yml workflow file
  .github/workflows/dependabot-test.yml
  docs/DEPENDABOT_PERMISSIONS_FIX.md
Due: docs-folder-enforcement

Update
  .github/workflows/dependabot-test.yml
  docs/DEPENDABOT_ANALYSIS_RESULTS.md
Due: docs-folder-enforcement

Package Update
  requirements.txt
  requirements/base.txt
Due: none

Package Update
  requirements.txt
Due: none

Update
  functions/infrastructure/requirements.txt
  requirements.txt
  requirements/functions.txt
  requirements/test.txt
Due: none

Path conditions:
  powershell-format: any of: \.ps1$
  docs-folder-enforcement: any of: \.md$
  azure-policy-validation: any of: policies/.*\.json$
  bicep-validation: any of: \.bicep$
